/* Block CSS */
/* Events Block */
.flex {
  display: flex;
  justify-content: space-between; /* Adjust the spacing between the cards */
}

.card-container {
  width: calc(50% - 10px); /* Adjust the width and spacing between the cards */
  max-width: 550px;
}

.card {
  box-shadow: 0px 0px 19px hsla(0, 0%, 0%, 0.2);
  border-radius: 30px;
  overflow: hidden;
}
.top {
  background-position: center;
  background-position: center;
  height: 320px;
  border-radius: 0px 0px 30px 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(155, 153, 153);
}

.bottom {
  padding: 0px 30px 30px 30px;
}
.card-container .title h3 {
  font-size: 2.2rem;
  color: #090e34;
}
.card-container .title h3 a {
  text-decoration: none;
  color: black;
}
.title h3 a:hover {
  opacity: 0.5;
  transition: 300ms;
}
.description p {
  font-size: 21px;
  color: black;
  opacity: 0.7;
  margin-bottom: 0.5rem;
}
.card-container .date {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
}
.date .right a {
  color: black;
}
.date .right a:hover {
  opacity: 0.5;
  transition: 300ms;
}
.card-container .time {
  color: black;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}

/* Blog Block */

.blog-container h3,
p {
  margin: 0;
}
.blog-container {
  max-width: 250px;
}

.date small {
  letter-spacing: 2px;
  color: black;
  opacity: 0.7;
  display: inline-block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 18px;
}

.post-title h3 {
  font-size: 24px;
}
.post-content p {
  color: black;
  opacity: 0.7;
  line-height: 25px;
  font-size: 18px;
}
.author img {
  border-radius: 50%;
  max-width: 35px;
}
.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.3rem;
  font-size: 18px;
}
.author .right {
  text-transform: uppercase;
  color: black;
  opacity: 0.7;
  letter-spacing: 2px;
}
.post-content {
  padding-bottom: 0.5rem;
}

@media (max-width: 768px) {
  /* Event Block Break Points */
  .flex {
    flex-direction: column;
  }

  .card-container {
    width: 100%;
    align-self: center;
    margin: 2rem;
  }
}
