<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
	<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|50"}}}} -->
	<div class="wp-block-group alignwide" style="padding-bottom:var(--wp--preset--spacing--50);">
		<!-- wp:heading -->
		<h1>Search</h1>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->
	<!-- wp:query {"displayLayout":{"type":"flex","columns":3},"align":"wide","layout":{"type":"default"}} -->
	<div class="wp-block-query alignwide">
		<!-- wp:post-template -->
		<!-- wp:post-featured-image /-->
		<!-- wp:post-title {"isLink":true} /-->
		<!-- wp:post-author {"showAvatar":false} /-->
		<!-- wp:post-date /-->
		<!-- wp:post-terms {"term":"category"} /-->
		<!-- wp:post-excerpt /-->
		<!-- /wp:post-template -->
		<!-- wp:query-pagination -->
		<div class="wp-block-query-pagination">
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-next /-->
		</div>
		<!-- /wp:query-pagination -->

		<!-- wp:query-no-results -->
		<!-- wp:heading {"textAlign":"left","level":3} -->
		<h3 class="has-text-align-left">No results found</h3>
		<!-- /wp:heading -->

		<!-- wp:paragraph {"align":"left"} -->
		<p class="has-text-align-left">
			Sorry, but nothing matched your search terms. Please try again with some
			different keywords.
		</p>
		<!-- /wp:paragraph -->

		<!-- wp:spacer {"height":"50px"} -->
		<div style="height: 50px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search"} /-->

		<!-- wp:spacer {"height":"50px"} -->
		<div style="height: 50px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:heading {"level":3} -->
		<h3>Looking for a specific topic?</h3>
		<!-- /wp:heading -->

		<!-- wp:categories /-->
		<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->